@import "/src/common/mixins/mixins.scss";
@import "/src/common/mixins/variables.scss";

.wrapper__chat {
    display: flex;
    flex-direction: column;

    width: 95%;
    height: 80vh;
    margin-left: 24px;
    padding-top: 40px;

    .wrapper__chat_date_block{
        display: flex;
        flex-direction: row;

        justify-content: center;
        align-items: center;
        
        width: 100%;

        .wrapper__chat_date {
            padding: 2px 8px;
            gap: 10px;

            background: #E4E6E8;
            border-radius: 30px;
            text-align: center;

            @include mainTextStyle('Roboto', 500, 11px, 16px, 0.5px, #636D78);
        }
    }

    .wrapper__chat_scroll {
        overflow: auto;
        overflow: auto;
        display: flex;
        flex-direction: column-reverse;

        .wrapper__chat_message_block {
            display: flex;
            justify-content: flex-start;
            margin: 12px 0px;

            h4 {
                margin: 5px 15px;
                text-align: center;

                @include mainTextStyle('Roboto', 500, 12px, 16px, 0.5px, #636D78);
            }

            .wrapper__chat_message_wrapper {
                .wrapper__chat_message {
                    display: flex;
                    
                    .wrapper__chat_avatar {
                        margin: 0px 8px;
                    }
                    .wrapper__message_text {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                    

                        width: 182px;

                        background: #E4E6E8;
                        border-radius: 22px 22px 22px 0px;

                        span {
                            margin: 0;
                            padding: 8px 12px;
                            gap: 10px;

                            @include mainTextStyle('Roboto', 400, 14px, 20px, 0.25px, #0B121B);
                        }
                    }

                    .wrapper__message_time {
                        display: flex;
                        align-items: flex-end;
                        margin-left: 6px;

                        span {
                            margin: 0px 3px;
        
                            @include mainTextStyle('Roboto', 500, 11px, 16px, 0.5px, #636D78);
                        }
                    }
                
                }
            }
        }
    }
}

.wrapper__chat_message_block_mod {
    display: flex;
        justify-content: flex-end;
        margin: 12px 0px;

         h4 {
            margin: 5px 15px;
            text-align: center;

            @include mainTextStyle('Roboto', 500, 12px, 16px, 0.5px, #636D78);
        }

        .wrapper__chat_message_wrapper {
            .wrapper__chat_message {
                display: flex;
                
                .wrapper__chat_avatar {
                    margin: 0px 8px;
                }
                .wrapper__message_text_me {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                

                    width: 182px;

                    background: #E7EFFF;
                    border-radius: 22px 22px 22px 0px;

                    span {
                        margin: 0;
                        padding: 8px 12px;
                        gap: 10px;

                        @include mainTextStyle('Roboto', 400, 14px, 20px, 0.25px, #0B121B);
                    }
                }

                .wrapper__message_time {
                    display: flex;
                    align-items: flex-end;
                    margin-left: 6px;

                    span {
                        margin: 0px 3px;
    
                        @include mainTextStyle('Roboto', 500, 11px, 16px, 0.5px, #636D78);
                    }
                }
            
            }
        }
}